.btn-green{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C1F7D5;
    color: black;
    font-weight: bold;
    border-radius: 100px;
    opacity: 1;
    text-align: center;
    min-width: 160px;
    height: 40px;
    font-size: 18px;
}

.btn-black{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: #354463;
    min-width: 160px;
    font-weight: lighter;
}

.btn-white{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    min-width: 160px;
    font-weight: lighter;
    height: 40px;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}